body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: black;
}

header {
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
}
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 16px;
  font-size: 1.25em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Lilita One", sans-serif;
  font-weight: 200;
}
nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 50px;
  text-align: center;
}

.home-background {
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
  padding: 60px 160px 160px 160px;
}
.home-container {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 80px;
}

.profile-image {
  width: 400px;
  height: 420px;
  border-radius: 50%;
  background: url("images/profile\ pic.jpg") no-repeat center/cover;
  border: 5px solid #2a3842;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
.main-header {
  font-size: 3em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
}

.button-container {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}


.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 16px;
  text-align: center;
  width: 200px;
  transition: all 150ms ease-in-out;
  border: solid 4px #2a3842;
}
.github-button {
  background-color: #19202b;
  color: white;
}

.github-button:hover {
  background-color: #2a3648;
}

.linkedin-button {
  background-color: #0b5ec2;
  color: white;
}

.linkedin-button:hover {
  background-color: #317bc2;
}
.email-text {
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Lilita One", sans-serif;
}
.contact-text {
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Lilita One", sans-serif;
  margin-right: 260px
}

/* About Section */
.about-background {
  background-color: #313d4a;
}
.about-header {
  color: white;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.about-text {
  line-height: 1.2;
  color: white;
  font-size: 1.3em;
  padding: 12px;
  font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Projects */
.project-header {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
}
.project-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.project-card {
  background: white;
  padding: 10px 0px 0px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 0 auto;
  border: 6px solid;
  border-image: linear-gradient(45deg, rgb(185, 212, 242), rgb(244, 210, 226)) 1;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}
.project-card img {
  width: 100%;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-title {
  text-align: left;
  margin-left: 8px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;

}
.project-description {
  text-align: left;
  margin-left: 8px;
  font-family: "Open Sans", sans-serif;
}


/* Project Overlay on Hover */
.project-overlay-container {
  position: relative;
}

.project-overlay-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* overlay on hover */
.project-overlay-container:hover .overlay {
  opacity: 1;
}


/* Project Pages */
.exercise-background {
  background-color: #313d4a;
}
.exercise-header {
  color: white;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
}
.exercise-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.exercise-text {
  line-height: 1;
  color: white;
  font-size: 1.3em;
  padding: 8px;
  font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}
.project-url {
  text-decoration: underline;
  color: white;
}
 
.contact-header {
  color: black;
}
.linkedin-link {
  text-decoration: none;
  color: #3a394a;
  font-weight: bold;
  text-decoration: underline;
}
.github-link {
  text-decoration: none;
  color: #3a394a;
  font-weight: bold;
  text-decoration: underline;
}

/* Resume */
.resume-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 300px;
}
.resume-button {
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
  color: white;
}

.resume-button:hover {
  background: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  color: black;
}
.resume-text {
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Lilita One", sans-serif;
}

/* footer */
footer {
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
  color: black;
  font-weight: bold;
  padding: 28px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}
.footer-header {
  font-family: "Iansui", cursive;
  font-weight: bold;
  font-style: normal;
}
footer a {
  color: black;
  text-decoration: none;
  font-family: "Iansui", cursive;
  font-weight: bold;
  font-style: normal;
}

footer a:hover {
  text-decoration: underline;
}

/* logo icons */
.linkedinlogo {
  margin-right: 4px;
}

.githublogo {
  margin-right: 4px;
}